.horizontal-scroll-container {
    margin: auto;
    overflow-x: auto; /* Hide the default scrollbar */
    white-space: nowrap; /* Prevent content from wrapping */
    outline: 1.5px solid #ddd;
  }
  
  .horizontal-scroll-content {
    display: inline-block;
  }
  
  .item {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: lightblue;
  }